#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE    VFT_DRV
#define VER_FILESUBTYPE VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "KMDF_DOSAS_Fagradyan_AS_191_351 Filter Driver"
#define VER_INTERNALNAME_STR        "KMDF_DOSAS_Fagradyan_AS_191_351.sys"

#include "common.ver"
